<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>昆虫报修</title>
  <link rel="icon" href="../static/img/tools.svg">
  <meta name="keywords" content="校园宿舍报修平台">
  <meta name="description" content="基于SprinBoot的校园宿舍报修平台">
  <meta name="author" content="kun">
  <link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
  <div class="login">
    <div class="loginForm" style="display: block;">
      <h2 class="loginbox-title">帐号登录</h2>
      <div class="m-header"></div>
      <div class="m-cnt">
        <form name="myForm" method="post" action="/admin/login" onsubmit="SubmitLogin()">
          <div>
            <!-- 账号 -->
            <div class="inputbox" id="account-box">
              <div class="u-input">
                <input type="username" name="username" class="form-control inputbox" placeholder="用户名">
              </div>
            </div>
            <div class="fur-change-email"></div>
            <!-- 密码 -->
            <div class="inputbox">
              <div class="u-input">
                <input type="password" name="password" class="form-control inputbox" placeholder="输入密码">
              </div>
            </div>
            <!-- 登录按钮 -->
            <div class="loginbox">
              <button class="u-loginbtn btncolor" type="submit">登&nbsp;&nbsp;录</button>
            </div>
          </div>
        </form>
        <div class="login-agreement">
          阅读并接受
          <a href="/service/click" target="_blank">《服务条款》</a>
          和 <a data-tj-name="b-mail-privacy-click" href="/private/click" target="_blank">《隐私政策》</a>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  //提交登录
  function SubmitLogin() {
    //判断用户名是否为空
    if (!myForm.username.value) {
      alert("请输入用户名！");
      myForm.username.focus();
      return false;
    }

    //判断密码是否为空
    if (!myForm.password.value) {
      alert("请输入密码！");
      myForm.password.focus();
      return false;
    }
    return true;
  }
</script>
</html>
